install: true
script:
  - eval "$(ssh-agent -s)" #start the ssh agent
  - echo -e $BALENA_DEPLOY_KEY > id_rsa
  - chmod 0600 id_rsa
  - ssh-add ./id_rsa
  - echo -e "StrictHostKeyChecking no\n" >> ~/.ssh/config
  - git remote add balena $BALENA_REMOTE
  - git push balena master
